body{
    background-color: rgb(132, 135, 156);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}


#contenido{
    *border: 1px solid;
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3%;
    min-height: 350px;
    border-radius: 6%;
    background-color: #E6E6E6;   
    box-shadow: 2px 2px 2px #424242;   
}

main{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 300px;
}

main>img{
    margin-top: 15px;
}

#botonIniciar{
    background-color: #84879c;
    min-width: 100px;
    text-align: center;
    padding: 12px;
    color: white;
    font-size: 1.2rem;

}